.tabs {
  height: 100%;
}

/* TAB CONTROL */
.tabs .control button {
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  height: 30px;
}

.tabs .control button:hover {
  background: silver;
}

/* TAB CONTROL SELECTED */

.tabs .control li.selected button {
  background: silver;
  font-weight: bold;
}

/* TAB PAGE */

.tabs .pages {
  height: calc(100% - 30px);
  margin: 0;
  width: 100%;
}

.tabs .pages li {
  display: none;
  height: 100%;
}

/* TAB PAGE SELECTED */

.tabs .pages li.selected {
  display: block;
}
