/* ACCORDEON BUTTON */

.accordeon dt button {
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.accordeon dt button:hover {
  background: silver;
}


/* ACCORDEON BUTTON SELECTED */

.accordeon .selected dt button {
  background: silver;
  font-weight: bold;
}

/* ACCORDEON PAGE */

.accordeon dd {
  display: none;
}

/* ACCORDEON PAGE SELECTED */

.accordeon .selected dd {
  display: block;
}
